
/* MAIN CSS*/
body{
        margin: 0;
        font-family: 'Prompt', sans-serif;
        color: white;
        background: #202731;
        overflow-x: hidden;
        font-family: 'Roboto mono', monospace;
    }

section{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding: 100px 20vw;

    }


/* BACKGROUND CURVES BACK GROUND CURVES */
.pink{
    background: #ff0066;
    overflow: hidden;
}

.dark{
    background: #0f0f10;
}


/* Implenting curves using PURE CSS woooo*/
.curve{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #202731;
    transform: translate(85%, 60%);
}

.curve::after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
}

/* Implenting BUBBLES using PURE CSS woooo*/

.bubble::after{
    content:'';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #0f0f10;
    z-index: -1;
}

/* Implementing waves using SVG */

.waves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 149px;
}

.waves .shape-fill {
    fill: #0f0f10;
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-color: #ff0066;
}

.layer1{
    background-image: url(./layer1.svg);
}

.layer2{
    background-image: url(./layer2.svg);
}

.flip {
    transform: rotate(180deg);
}

.blob-motion {
    position: absolute;
    transform: translateY(-20%);
    z-index: 0;
  }

.blob-content {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px ;

  }

  .blob-content h1{
    font-size: 100px;
    font-family: 'Roboto mono', monospace;
  }

  

  .blobs {
    width: 100%;
    background: url('./blobs.svg') no-repeat bottom / cover;
  }


/* Navigation bar */
.navigationHeader{
    top: 0; left: 0;
    width: 100%;
    padding: 15px 0px 15px 0px;
    position: fixed;
    background-color: #202731;  
    z-index: 100;
    
}

.navbar a{
    margin: 0 20px;
    color: #fff;
    font-style: bold;
    font-family: 'Roboto mono', monospace;
    text-transform: uppercase;
    text-decoration:none;
    position: relative;
   
    left: 80%;

}


.navbar a::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #FFBE0B;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}


.navbar a:hover::after{
    width: 100%;
}

/* Card system (login / signup) */
.card{
    width: 100%;
    max-width: 470px;
    background: #202731;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.card h1{
    padding-bottom: 10px;
}

.card input, button{
    width: 100%;
    height: 40px;

    padding-left: 10px;
    margin-bottom: 20px;

    background: #282B30;
    font-family: 'Roboto mono', monospace;
    font-weight: 500;
    color: #fff;
    font-size: 12px;

    border: solid transparent;
    border-color: #FFBE0B;
    align-items: center;

}

.card button{
    width: 104%
}


.card button:hover{
    transition: 300ms;
    background-color: #3A3E43;
}

.card button:active {
    background-color: #1C1D20   ;
}

button:hover{
    transition: 300ms;
    background-color: #F000FF;
}

button:active {
    background-color: #1C1D20   ;
}


.card a{
    color: white;
    text-decoration: none;
}

.newBody{
    background-color: #ff0066
    ;
}

label{
    margin-top: 5px;
}

/* MISCLEEANIOUS */

.whiteBackground{
    margin-top: 10px;
    position: relative;
    width: 75%;
    background: #eeeee6;
    left: 4%;

    font-family: 'Roboto mono', monospace;
    font-size: 30px;
    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.pinkBackground{
    margin-top: 10px;

    position: relative;
    width: 75%;
    background: #93053E;
    left: 4%;

    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.financialWaste{
    color: black;
}


.content{
    text-align: center;
}

.content h3{
    margin-top: -80px;
}



.specialButton{
    margin-top: 40px;
}

/* Item card */

.listItems{
    color: black;
    font-size: 25px;
    
}


.itemCard{
    background-color: #eeeee6;
    text-align: center;
    
    margin-bottom: 10px;

    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.productCard{
    padding: 20px;
    
}

.productImage{
    border-radius: 5px;
    border-image: auto;
    margin-bottom: 50px;
    filter: drop-shadow(0 50px 20px #0009)
}

.itemCard h2{
    font-weight: 500;
    font-size: large;
    font-family: 'Roboto mono', monospace;
}

.price{
    letter-spacing: 7px;
    font-family: 'Roboto mono', monospace;
    
}

/* Circular percentage */
.circular-progress {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  .circular-progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .value-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color: #231c3d;
  }